-content_for :title, "Your Photos from #{@trip_report.destination}"

.row.last
  .eightcol
    =form_tag upload_photos_trip_report_path(@trip_report), {:multipart => true} do
      -Photo::UPLOAD_COUNT.times do |i|
        .row
          %label{for: "photo_#{i}[image]"} Photo
          =file_field_tag "photo_#{i}[image]"
          
          %label{for: "photo_#{i}[image]"} Title
          =text_field_tag "photo_#{i}[title]"
        
      .row.last=submit_tag "Upload Photos"
      
  .fourcol.last
    %h3 Image Size
    %p Photos will be magically resized to fit inside an 912x620 pixel frame. 
    %p You can save yourself some bandwidth by resizing massive files to something close to this, but don't shrink them any smaller or you'll lose resolution and quality.      