-content_for :title, "Joining the Club"
.info
  .row
    .ninecol
      %p
        Anyone is welcome to join the club but we do ask that prospective members have at least the basic PADI, BSAC, NAUI, SSI or CMAS qualifications, and can obtain their own basic kit to use for diving.
      %p
        There are two parts to the membership payment. Membership to the Club is only $30 and offers qualified divers access to all club activities. This money goes towards expenses such as the club's first aid and oxygen kits. The
        =link_to "BSAC membership", "https://www.bsac.com/membership/", target: "new"
        costs approximately $110 and provides BSAC club benefits such as monthly magazine, insurance and the chance to do further training in a not-for-profit club. Both memberships are mandatory for you to become a full diving member of the Sydney Sub Aqua Club.
      %p
        Membership of the Club will give you access to all of the diving we do, as well the chance to get to know a number of potential buddies to call up if there is no club dive. By booking as a group we can often take advantage of club bookings, meaning that you can dive some of the best sites at very reasonable prices.
      %p
        As a member you will be able to participate in a range of BSAC dive training courses including Sports Diver, Advanced Nitrox / Extended Range, O2 Administration and Dive Leader, all of which are available to club members with the appropriate qualifications. Please contact our diving officer
        =mail_to Committee::DIVING_OFFICER.email, Committee::DIVING_OFFICER.name
        for further details.
    .threecol.last
      %figure
        =image_tag "bsac10reasons.jpg", alt: "10 reasons to join BSAC"

  .row
    .threecol
      %figure
        =image_tag "logbook.jpg", alt: "10 reasons to join BSAC"
    .ninecol.last
      %h3#join How to Apply For (or Renew) Membership
      %ol
        %li
          To join BSAC, contact our secretary
          = mail_to Committee::SECRETARY.email, Committee::SECRETARY.name
          and get a copy this old-fashioned carbon paper form at the
          = link_to 'Wednesday night meeting.', club_info_path
        %li
          Download and complete a
          = link_to 'Sport Diver Medical Form', 'http://cdn.sydneysubaquaclub.com/files/BSAC_Medical_Form.pdf'
          and a
          = link_to 'SSAC Membership Form.', 'http://cdn.sydneysubaquaclub.com/files/SSAC_Membership_Form_v2.doc'
          Give/email both to
          = mail_to Committee::SECRETARY.email, Committee::SECRETARY.name
          \.
        %li
          Pay the SSAC membership fee by transferring $30 to the club bank account (details below)
        %li
          Go diving!

  .row.last
    .twelvecol
      %h3#bank-account The Club Bank Account
      %p If you need to pay money into to the club account for any reason the account details are:
      %dl
        %dt Account Name
        %dd SSAC

        %dt BSB
        %dd 032123

        %dt Account number
        %dd 179887

        %dt Bank
        %dd WESTPAC BANKING CORP

        %dt Bank address
        %dd FRENCHS FOREST NSW
      %p Please note your name and what it is for in the payment description - e.g. "J Smith Sport Diver Course"
